<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github-cadenadb" value="https://nuget.pkg.github.com/cadenadb/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-cadenadb>
      <add key="Username" value="cadenadb" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-cadenadb>
  </packageSourceCredentials>
</configuration>
